.formControls {
  display: flex;
  column-gap: 18px;
}

.input {
  border-radius: 14px 0 0 14px;
  width: 160px;
  height: 42px;
  background: #f7f7fb;
  border-color: transparent;
  padding-left: 24px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11111;
  color: #121417;
}

.inputLeft {
  border-radius: 0 14px 14px 0;
  width: 160px;
  height: 42px;
  background: #f7f7fb;
  border-color: transparent;
  border-left: #121417;
  padding-left: 24px;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11111;
  color: #121417;
}
