body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #121417;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  padding: 20px;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;

  &.active {
    color: white;
    background-color: rgb(16, 32, 49);
    border-color: rgb(16, 32, 49);
  }

  &:hover {
    color: white;
    background-color: #2049a9;
    border-color: #2049a9;
    transition: 0.3s;
  }
}
